#logo-image {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
body {
    background-image: url(https://www.itl.cat/pngfile/big/107-1075454_super-mario-world-super-mario-background-drawing.jpg);
}
.logoVideo {
    padding: 10px;
}
.logoGame {
    padding: 10px;
}
.logoJeopardy {
    padding: 10px; 
}
.tenQuestions {
    height: 80px;
    width: 150px;
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: lightgreen;
}
.score-board {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(237, 237, 11);
    outline: rgba(14, 216, 14, 0.5) solid 2px;
    background-color: rgb(6, 171, 260, .5);
}
.afterClick {
    display: none;
}