#logo-image {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
body {
    background-image: url(https://www.itl.cat/pngfile/big/107-1075454_super-mario-world-super-mario-background-drawing.jpg);
}
.logoVideo {
    padding: 10px;
}
.logoGame {
    padding: 10px;
}
.logoJeopardy {
    padding: 10px; 
}
.tenQuestions {
    height: 80px;
    width: 150px;
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: lightgreen;
}