#logo-image {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
body {
    background-image: url(https://www.itl.cat/pngfile/big/107-1075454_super-mario-world-super-mario-background-drawing.jpg);
}
input {
    height: 90px;
    width: 100%;
    border: black solid 1px;
    display: flex;
    justify-content: center;
}
.all-questions {
    display: flex;
    justify-content: center;

}
.title {
    text-align: center;
    border: solid black 4px;
    width: 100%;
}
#question {
    display: flex;
    text-align: center;
    width: 100%;

}
.logoVideo {
    padding: 10px;
}
.logoGame {
    padding: 10px;
}
.logoJeopardy {
    padding: 10px; 
}